.quote_bg {
    background-color: #e2eee3;
}

.blockquote > p{
    font-size: 40px;
    font-style: italic;
}

#gallery {
    background-color: #e2eee3;
}

@media (max-width: 768px){

    #project-type, #proposed-solution { 
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #context {
        padding-top: 50px !important;
    }
}

@media (max-width: 1280px){ /*could be deleted*/

    .padded {
        padding-left: 15px;
        padding-right: 15px;
        padding-top:5px;
    }

}

.navbar-light .navbar-brand {
    color: rgb(145, 145, 145);
}