
@font-face{
    src: url(../fonts/Lulo\ Clean\ One.otf);
    font-family: Lulo-clean;
}
@font-face{
    src: url(../fonts/Lulo\ Clean\ One\ Bold.otf);
    font-family: Lulo-clean-bold;
}

body {
  background-color: rgb(255, 255, 255);

}

@media (max-width: 768px){
    #hero-title-home{
        text-align: justify;
    }

    h1 {
        font-size: 30px !important;
    }
    h3{
        font-size: 18px !important;
    }
    p {
        font-size: 16px !important;
    }

}

p, a, li {
    font-family: 'Manrope', sans-serif;
    font-size: 19px;
    line-height: 1.7;
    text-align: justify;
    text-justify: newspaper;
}

h1 {
  color: black;
  font-size: 47px;
  font-family: Lulo-clean-bold;
  padding-bottom: 50px;
}

h2 {
    color: black;
    font-size: 37px;
    font-family: Lulo-clean;
    padding-bottom: 20px;
}

h3 { /**/
    color: black;
    font-size: 29px;
    font-family: Lulo-clean;
    padding-bottom: 15px;
}

h4 {
    color: #808080;
    font-size: 23px;
    font-family: Lulo-clean;
    padding-bottom: 10px;
}

h5 {
    color:#808080;
    font-size: 18px;
    font-family: Lulo-clean;
    padding-bottom: 10px;
}

.jumbotron {
    background-color: white;
    padding: 100px;
}


.btn {
    padding: 10px 20px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.0);
}

.untransparent {
    -webkit-animation-name: untransparent; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards;
    animation-name: untransparent;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
}

@keyframes untransparent {
    100% {
        background-color: rgba(255, 255, 255, 1.0);
    }
}

.transparented {
    background-color: rgba(255, 255, 255, 1.0) ;
    -webkit-animation-name: transparented; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards;
    animation-name: transparented;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
}

@keyframes transparented {
    100% {
        background-color: rgba(255, 255, 255, 0.0) ;
    }
}


.nav-item {
    padding: 10px 40px;
}

.nav-link {
    color: rgb(145, 145, 145) !important;
    
}

.nav-link.active { /*add an underline effect*/
    font-weight: bold !important;
}

.card {
    max-width: 50%;
    
}

.card-body {
    padding: 20px 20px;
}

.justified {
    text-align: justify !important;
    text-justify: newspaper !important;
}

.btn.btn-primary {
    background-color: black;
    border-color: black;
}

img {
    
    max-width: 100%;
    height: auto;
    border-radius: 4%;
}

.mb-6 {
    margin-bottom: 4rem;
}

.mb-7 {
    margin-bottom: 5rem;
}

.mt-6 {
    margin-top: 4rem;
}

.mt-7 {
    margin-top: 5rem;
}
